@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,800..800;1,300..800&display=swap')
nav li {
font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
header{
display: flex;
align-items: center;
justify-content: space-around;
gap: 413px;

width: 1000%;
height: 160px;

background-color: black(255, 0, 179, 0.2);
border: 10xp solid;
}

  header (
display: inline-block;

border: 10px solid;

borderradius: 50xp

width:241xp
height:77px

maigin-right: 145xp
backgrund-color:
)
 header nav ul li a (
        text-decoration
 )